.global{
    position: absolute;
    margin: auto;
    top:13%;
    left: 8%;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:beige;
}
.space{
    margin-left: 5px;
}
.global_username{
    width: 96%;
}