
<div class="app_container">
  <div class="app_left" *ngIf="!this.isAuthenticated">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">Tensormeet</h5>
        <p class="card-text">Tensormeet brings people closer together</p>
        <p class="card-text">See you at Tensormeet !!</p>
        <p class="card-text">You can explore with the following credentials</p>
        <div>
          <b>Default username:</b> <em>user</em>
        </div>
        <div>
          <b>Default password:</b> <em>password</em>
        </div>
        <div>
          <em>Please wait, it might take a minute to log you in!!</em>
        </div>
      </div>
    </div>
  </div>
  <div class="app_right">
    <div class="Container" *ngIf="!this.isAuthenticated">
      <div class="Container_login">
        <div class="d-grid">
          <button (click)="login()" class="btn btn-success" type="button">Login</button>
        </div>
      </div>
      <div class="Container_register">
        <div class="d-grid">
          <button (click)="register()" class="btn btn-primary" type="button">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.isAuthenticated">
  <div class="Home_Container">
    <div class="Container_side_by_side">
      <div class="d-grid">
        <button (click)="home()" class="btn btn-secondary" type="button">Home</button>
      </div>
    </div>
    <div class="Container_side_by_side">
      <div class="d-grid">
        <button (click)="friends()" class="btn btn-success" type="button">Friends</button>
      </div>
    </div>
    <div class="Container_side_by_side">
      <div class="d-grid">
        <button (click)="chats()" class="btn btn-info" type="button">Chats</button>
      </div>
    </div>
    <div class="Container_side_by_side">
      <div class="d-grid">
        <button (click)="global()" class="btn btn-dark" type="button">Global</button>
      </div>
    </div>
    <div class="Container_side_by_side">
      <div class="d-grid">
        <button (click)="profile()" class="btn btn-primary" type="button">Profile</button>
      </div>
    </div>
    <div class="Container_side_by_side">
      <div class="d-grid">
        <button (click)="logout()" class="btn btn-danger" type="button">Logout</button>
      </div>
    </div>
  </div>  
</div>
<router-outlet></router-outlet>